/***************
  poisiton:
****************/
.relative {
  position: relative !important;
}

.static {
  position: static;
}

.absolute {
  position: absolute;

  &--important {
    position: absolute !important;
  }
}

.fixed {
  position: fixed;

  &--important {
    position: fixed !important;
  }
}

/***************
  dimensions
  height:
  width:
****************/

.height-auto {
  height: auto;
}

.width-auto {
  width: auto;
}

.inline-block{
  display: inline-block;
}

/*****************
  font-weight:
******************/
.light {
  font-weight: 100;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 600 !important;
}


/*****************
  color:
******************/
.error {
  color: $crimson;
}

/*
  display: flex, none, block
*/

.box-shadow {
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.10);
}

.box-shadow-50 {
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
}

.flex {
  display: flex;
}

.hidden {
  display: none !important;
}

.visibility-hidden{
  visibility: hidden;
}

.visible {
  display: block;
}

/*
  justify-content
*/

.justify--center {
    justify-content: center;
}

.justify--left {
    justify-content: flex-start;
}

.justify--right {
    justify-content: flex-end;
}

.justify--space-around {
    justify-content: space-around;
}

.justify--space-between {
    justify-content: space-between;
}

.justify--flex-start {
    justify-content: flex-start;
}

.justify--flex-end {
    justify-content: flex-end;
}


/*
  flex: 0 0 auto, 1 0 auto, 0 1 auto, 1 1 auto
*/

.flex-0-0-auto {
  flex: 0 0 auto;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.flex-1-1-auto {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1;
}

/*
  flex-direction: row, row-reverse, column, column-reverse
*/

.flex--row {
    flex-direction: row;
}

.flex--row-reverse {
    flex-direction: row-reverse;
}

.flex--column {
    flex-direction: column;
}

.flex--column-reverse {
    flex-direction: column-reverse;
}

/*
  flex-wrap: nowrap, wrap, wrap-reverse
*/

.flex--nowrap {
    flex-wrap: nowrap;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex--column-reverse {
    flex-wrap: column-reverse;
}

.align-items--center {
  align-items: center;
}

.align-items--end {
  align-items: flex-end;
}

.align-self--center {
  align-self: center;
}

.align-self--end {
  align-self: flex-end;
}

/****************
  text-align: center, left, right
*****************/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/****************
  visibility: visible hidden
*****************/
.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}


/*********************
  padding:
  margin:
**********************/

.padding {
  padding: 1em;
}

.padding--small {
  padding: 1rem;
}

.padding--horizontal {
  padding-left: 10px;
  padding-right: 10px;
}

.padding--large {
  padding: 1rem;
}

.padding--0 {
  padding: 0 !important;
}


.margin {
  margin: 1em;
}

.margin--small {
  margin: 1rem;
}

.margin--large {
  margin: 2rem;
}

.margin--0 {
  margin: 0 !important;
}

.margin--auto {
  margin: 0 auto !important;
}

.margin-top--0 {
  margin-top: 0;
}
.margin-bottom--0 {
  margin-bottom: 0;
}

.margin-right--auto {
  margin-right: auto !important;
}

.margin-right--grid{
  margin: 0 12.5px 0 0;
}

.blur {
  pointer-events: none;
  filter: blur(5px);
}

/*********************
  word-break
**********************/
.break-word {
  word-break: break-word;
}

.break-word {
  word-break: break-all;
}

.word-break--noraml {
  word-break: normal;
}

.keep-all {
  word-break: keep-all;
}

/*********************
  white-space
**********************/
.no-wrap {
  white-space: nowrap;
}
