@import '~Styles/_imports.scss';

.FileBrowser {
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 1;

    &--highlight {
      background-color: rgba(0,126,168, 0.2);
      border: 1px solid $primary;

      .AddSubfolder {
        background-color: transparent !important;
      }
    }

    &--linkVisible {
      z-index: 13 !important;
    }

    &--cursor-drop {
      cursor: move;
    }

    &--cursor-no-drop {
      cursor: not-allowed !important;
    }
}
.FileBrowser__Primary-actions {
  min-width: 420px;
}

.FileBrowser__empty{
  display: flex;
  align-content: center;
  justify-content: center;
}

.FileBrowser__tools {
  align-items: center;
}

.FileBrowser__multiselect {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 0;

  align-items: center;

  border-radius: 12px;
}

.FileBrowser__input[type='text']{
  align-self: flex-start;
}

.FileBrowser__name-text {
  position: relative;
}

.FileBrowser__header {
    align-items: center;
    position: relative;

    border-bottom: 2px solid $romanSilver;
    height: 50px;
    width: 100%;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    position: relative;

    align-items: center;

    width: 100%;
    height: 50px;

    cursor: pointer;
    text-align: left;

    border-bottom: 2px solid $romanSilver;

    @include flex(space-between, row);

    &--name {
        flex: 1;
        margin: 0 60px;
    }

    &--size {
        position: relative;
        text-align: left;
        width: 100px;
        &:before {
          left: 50px !important;
        }
    }

    &--date {
        position: relative;
        text-align: left;
        width: 140px;
        &:before {
          left: 80px !important;
        }
    }

    &--menu{
        width: 180px;
        padding: 0 20px 0 0;
    }
}

.FileBrowser__body {
  overflow-x: visible;
}

.FileBrowser__btn {
  margin: 0 43px 0 8px;
  background: $primary url(~Images/icons/trash-white.svg) no-repeat center center;
  background-size: 20px;

  &:focus {
    background: $primary url(~Images/icons/trash-white.svg) no-repeat center center;
    background-size: 20px;
  }

  &:hover {
    background: $secondary url(~Images/icons/trash-white.svg) no-repeat center center;
    background-size: 20px;
  }
}

.FileBrowser__dropTarget{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0.7;
  background-color: $primary;

  @include flex(center, column);
}

.FileBrowser__h3 {
  text-align: center;

  color: $white;

  font-weight: 100;
}

.FileBroser__sort {
  &--asc:before {
    position: absolute;
    top: 1px;
    left: 40px;

    width: 15px;
    height: 15px;

    content: "";

    background: url('~Images/icons/sort-asc.svg') no-repeat center center;
    background-size: 15px;
  }

  &--desc:before {
    position: absolute;
    top: 1px;
    left: 40px;

    width: 15px;
    height: 15px;

    content: "";

    background: url('~Images/icons/sort-desc.svg') no-repeat center center;
    background-size: 15px;
  }
}

.FileBrowser__popup {
  width: 140px;
  position: absolute;
  top: 46px;
  right: -10px;
  text-align: center;
  z-index: index($elements, popup);

  .Tooltip__pointer {
    top: -10px;
    right: 55px;
  }
}

.FileBrowser__modal-body {
  height: 100%;
  p{
    margin-top: 50px;
  }
}

.FileBrowser__button-container{
  width: 600px;
}

.FileBrowser__button {
  height: 23px;
  width: 23px;
  margin: 0 10px;
  position: relative;
  border: 1px solid $primary;

  &--download-all {
    height: 30px;
    width: 45px;
    background: transparent url(~Images/icons/database-dark-download.svg) no-repeat center center;
    background-size: 25px;
    margin-right: -8px;
  }

  &--downloaded {
    height: 30px;
    width: 45px;
    background: $background-color url(~Images/icons/database-dark-local.svg) no-repeat center center;
    background-size: 25px;
    margin-right: -8px;
  }

  &--downloading{
    height: 30px;
    width: 45px;
    background: $background-color no-repeat center center;
    background-size: 25px;
    margin-right: -8px;
    position: relative;
    cursor: auto;
      div {
        position: absolute;
        top: 3px;
        left: 10px;
        width: 25px;
        height: 25px;
        border: 2px solid $grey;
        border-top: 2px solid $primary;
        border-radius: 50%;
        animation: spin 2s linear infinite;
      }
    &:hover {
        border: none;
        box-shadow: none;
    }
    &:hover:after {
        display: none;
    }
  }
}


.FileBrowser__menu {
  position: relative;
  align-items: center;
  border-bottom: 2px solid $romanSilver;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;

  @include flex(space-between, row);

  &-buttons {
    display: flex;
    align-items: flex-end;
  }
}

.FileBrowser__menu-buttons{
  color: $primary;
}

.FileBrowser__upload-label {
  display: flex;
  align-items: center;

  cursor: pointer;

  &:hover {

    span {
      text-decoration: underline;
    }

    .Btn__upArrow {
      background: $primary url(~Images/icons/update-white.svg) no-repeat center center;
      background-size: 18px;
    }
  }
}

.Btn__menuButton {
  display: flex;
  align-items: flex-end;

  width: auto;
  height: 34px;
  margin: 0;

  color: $primary;
  background: transparent;

  &:hover {
    text-decoration: underline;
  }

  &:disabled {
    pointer-events: none;

    color: $romanSilver;
    background-color: transparent !important;
  }
}

.FileBrowser__newFolder {

  &:hover {
    .Btn__addFolder {
      background: $primary url(~Images/icons/folder-add-new-hover.svg) no-repeat 4px top 2px;
      background-size: 18px;
    }
  }

  .Btn__addFolder:disabled {
    background: url(~Images/icons/folder-add-new-silver.svg) no-repeat no-repeat 1px top -1px;
    background-size: 18px;
  }
}
.FileBrowser__addDataset{

  &:hover {
    .Btn__addDataset {
      background: $primary url(~Images/icons/database-add-hover.svg) no-repeat center center;
      background-size: 18px;
    }
  }

  &:disabled {
    .Btn__addDataset {
      border: 1px solid $romanSilver;
      background: url(~Images/icons/database-add-grey.svg) no-repeat center center !important;
      background-size: 18px;
    }
  }
}

.FileBrowser__update-modal {
  &:before {
    content: '';
    @include triangle('up', 9px, $white);
    position: absolute;
    top: -9px;
    left: 29px;
  }
  color: $mineShaft;
  background: $white;
  padding: 10px;
  font-size: 14px !important;
  width: 200px;
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: center;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: index($elements, popup);
}

.FileBrowser__lock {
  position: absolute;
  top: -10px;
  left: -15px;
  right: -15px;
  bottom: -10px;

  z-index: 10;

  background: $primaryText;

  opacity: 0.3;

  @include flex(center, column);
}

.Btn {
  &__FileBrowserAction {
    padding: 2px 10px 2px 25px;
    color: $primary;
    border-radius: 13px;
    height: 26px;
    &--upload {
      background: $lightGrey url('~Images/icons/upload.svg') no-repeat left 5px center;
      background-size: 20px;
      &:disabled, &:disabled:hover {
        background: $lightGrey url('~Images/icons/upload.svg') no-repeat left 5px center;
        background-size: 20px;
        color: $romanSilver;
      }
    }
    &--newFolder {
      background: $lightGrey url('~Images/icons/new-folder-active.svg') no-repeat left 5px center;
      background-size: 20px;
      &:disabled, &:disabled:hover {
        background: $lightGrey url('~Images/icons/new-folder-active.svg') no-repeat left 5px center;
        background-size: 20px;
        color: $romanSilver;
      }
    }
    &--download {
      background: $lightGrey url('~Images/icons/download-arrow-azure.svg') no-repeat left 15px center;
      background-size: 20px;
      &:disabled, &:disabled:hover {
        background: $lightGrey url('~Images/icons/download-arrow-grey.svg') no-repeat left 15px center;
        background-size: 20px;
        color: $romanSilver;
      }
      &--data {
        background-position-x: 5px !important;
      }
    }
    &--link {
      background: $white url('~Images/icons/link.svg') no-repeat left 15px center;
      background-size: 18px;
      &:disabled, &:disabled:hover {
        background: $white url('~Images/icons/link-disabled.svg') no-repeat left 15px center;
        background-size: 18px;
        color: $romanSilver;
      }
      margin-right: 0;
    }
    &--downloaded {
      background: $white url('~Images/icons/downloaded.svg') no-repeat left 15px center;
      background-size: 12px;
      color: $green;
      &:disabled, &:disabled:hover {
        background: $white url('~Images/icons/downloaded.svg') no-repeat left 15px center;
        background-size: 12px;
        color: $green;
      }
    }
    &--unlink {
      background: $lightGrey url('~Images/icons/unlink.svg') no-repeat left 13px center;
      background-size: 20px;
      &:disabled, &:disabled:hover {
        background: $lightGrey url('~Images/icons/unlink-disabled.svg') no-repeat left 13px center;
        background-size: 20px;
        color: $romanSilver;
      }
    }
    &--loading {
      background: $lightGrey url('~Images/loaders/status-spinner.svg') no-repeat left 15px center !important;
      background-size: 18px !important;
    }
    &--downloading {
      background-position-x: 4px !important;
    }
  }
}

.FileBrowser__toolbar{
  color: $white;
  background: $primary;
  height: 40px;
  position: relative;
  &-text {
    margin-left: 80px;
    white-space: nowrap;
  }
  &:before {
    content: '';
    @include triangle('down', 12px, $primary);
    position: absolute;
    bottom: -12px;
    left: 11px;
  }
}
