@import '~Styles/_imports.scss';

.Activity {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  width: 100%;
  height: calc(100% - 13px);
  position: relative;

  &.fullscreen {
    z-index: index($elements, modal);
  }

}

.Activity__new-record-wrapper{
  position: absolute;
  display: flex;
  justify-content: center;
}

.Activity__new-record{
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  position: fixed;

  height: 40px;
  z-index: index($elements, popup);
  width: 200px;
  color: $white;
  border-radius: 20px;
  top: 130px;

  border: 1px solid $secondary;

  padding: 0 20px 0 0;
  background: $secondary url('~Images/icons/up-arrow-white.svg') no-repeat calc(100% - 15px) center;
  background-size: 22px;

  &.is-demo{
    top: 200px;
  }

  &:hover{
    color: $secondary;
    border: 1px solid $secondary;
    background: #fefefe url('~Images/icons/up-arrow-turquise.svg') no-repeat calc(100% - 15px) center;
    background-size: 22px;
  }
}


.Activity__sizer {
  width: 100%;
}

.Activity__card-container{
  z-index: index($elements, card) - 1 !important;
}


.Activity__date-tab {
  position: relative;
  margin: 30px 1px 6px 0;
  z-index: index($elements, date);
  height: 50px;
  width: 115px;
  border: 2px solid $primary;
  border-radius: 40px;
  background: $white;

  font-weight: lighter;
  @include flex(center, row);

  &.note {
    z-index: index($elements, card) !important;

    &:before {
      height: 48px;
    }
  }

  &:before {
    top: 48px;
    left: 38px;
    z-index: index($elements, card) - 1;
  }

  &.fixed{
    position: fixed;
    z-index: index($elements, fixedDate) +1;
    top: 90px;

    &:before {
      display: none !important;
    }
  }

  &.not-visible{
    visibility: hidden;
    z-index: index($elements, card);

    &:before{
      visibility: visible;
    }
  }

  &.is-demo{
    top: 140px;
  }

  &.is-expanded.is-demo{
    top: 190px;
  }

}

.Activity__next-button-container {
  text-align: center;
}

.Activity__date-sub{
  @include flex(center, column)
}

.Activity__date-month,
.Activity__date-year {
  text-transform: uppercase;
  align-self: center;
  color: $primaryText;
  font-size: 13px;
  font-weight: 400;
}

.Activity__date-day {
  align-self: center;
  color: $primaryText;
  font-size: 38px;
  margin-right: 5px;
  font-weight: 400;
}

.Activity__user-note {
  @include flex(flex-start, row);
  z-index: index($elements, card) + 1;
  position: relative;
  height: 49px;
  transition: height 0.5s;
}


.Activity__card-container:not(.next-element) .CardWrapper:nth-child(1) > .Activity__submenu-container:hover > .Activity__submenu-circle {
  z-index: index($elements, button);
}
.Activity__card-container:not(.next-element) .CardWrapper:nth-child(1) > .Activity__submenu-container.open-menu{
  .Activity__submenu-circle{
    z-index: index($elements, button);
  }
}


.ActivityExtended:before {
  height: 60px !important;
  transition: height 0.125s;
}

.Activity__card-container div:last-child:after{
  display: none;
}

.Activity__card-container--last .CardWapper:last-child:before {
  display: none;
}
