@import '~Styles/_imports.scss';

.Folder {
  &--highlight {
    background-color: rgba(0, 126, 168, 0.5);
    border: 1px solid $primary;

    .AddSubfolder {
      background-color: transparent !important;
    }
  }
  &--background {
    background: $white;
  }
}

.Folder__row{

    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;

    cursor: pointer;

    border-bottom: 1px solid $romanSilver;

    @include flex(space-between, row);
    align-items: center;

    &--noDrag {
      background: $background-color !important;
      cursor: not-allowed !important;
    }
    &--canDrag {
      cursor: copy !important;
    }


    &:hover {

      .ActionsMenu__item {
        &--rename {
            background: url('~Images/icons/rename-dark.svg') no-repeat 50% 50%;
            background-size: 20px;
        }

        &--delete {
            background: url('~Images/icons/trash-dark.svg') no-repeat 50% 50%;
            background-size: 20px;
        }
        &--AddSubfolder {
            background: url('~Images/icons/folder-add-dark.svg') no-repeat 50% 50%;
            background-size: 20px;
          }
      }
    }

    &--hover {
        background: $fileBrowserHover;
    }

}


.Folder__cell{

  @include flex(flex-start, row);
  position: relative;
  &--name{
      margin: 0 0 0 12px;
      flex: 1;

      padding: 0 0 0 35px;
      line-height: 26px;
      min-height: 20px;
      background: url(~Images/icons/folder.svg) no-repeat 0% 50%;
      background-size: 20px;
      overflow: hidden;
  }

  &--open{
    background: url(~Images/icons/folder-open.svg) no-repeat 0% 50%;
    background-size: 20px;
  }

  &--size{
      width: 100px;
  }

  &--date{
      width: 140px;
  }

  &--menu{
    width: 180px;
  }

}


.Folder__btn{

    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
    padding: 0;

    border: none;
    background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
    background-size: 26px !important;

    &:hover {
        border: none;
        background: $primary url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &:focus {
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--selected {
        border: none;
        background: $primary url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:hover {
        border: none;
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:focus {
        background: $primary url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete {
        background: $primary url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete:hover {
        background: url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete:focus {
        background: $primary url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }
}

.Folder__child {

    .AddSubfolder {
      height: 40px;
      padding: 6px 0 6px 120px;
      cursor: pointer;
      text-align: left;
      background: #f0f1f5 url(~Images/icons/folder-add-dark.svg) no-repeat 87px 50%;
      background-size: 20px;
      line-height: 24px;
    }
}


.Folder__info {
    width: 15px;
    height: 15px;
    background: url('~Images/icons/info-icon.svg') no-repeat center center;
    background-size: 15px;
    position: absolute;
    left: 120px;
    top: 6px;
    cursor: pointer;
}

.Folder__name {
    flex: 1;
    text-align: left;
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}