@import '~Styles/_imports.scss';

.Tooltip {
  position: relative;
}

.Tooltip__toggle{
  position: absolute;

  width: 15px;
  height: 15px;

  cursor: pointer;
  transition: all 0.125s;

  border-radius: 50%;
  background: url('~Images/icons/feature.svg') no-repeat center center;
  background-size: 30px;

  &:hover,
  &--active {
    transform: scale(1.3);
  }
}

.Tooltip__message {
  position: absolute;
  z-index: index($elements, popup);

  width: 350px;
  padding: 15px;

  user-select: none;
  text-align: center;
  white-space: pre-line;
  word-break: normal;

  color: $primaryText;
  color: $white;
  border-radius: 8px;
  background: $slateBlue;

  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  @include boxShadow();
  @include animation('slide-down-fade-in forwards .25s');
}

.Tooltip__pointer{
  position: absolute;
  z-index: index($elements, popup) + 1;

  @include triangle('up', 14px, $slateBlue);
  @include animation('slide-down-fade-in forwards .25s');
}

.Tooltip__glow-ring-outer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.Tooltip__glow-ring-inner {
  position: absolute;

  width: 15px;
  height: 15px;
  margin-top: -8px;
  margin-left: -8px;

  pointer-events: none;

  opacity: 0;
  border: 2px solid #FCD430;
  border-radius: 50%;

  @include animation('expand-ring 2s 0s ease-out infinite');
}

.Tooltip.recentActivity,
.Tooltip.readMe,
.Tooltip.environmentOverview,
.Tooltip.codeOverview,
.Tooltip.inputDataOverview,
.Tooltip.outputDataOverview,
.Tooltip.baseEnvironment,
.Tooltip.packagesEnvironment,
.Tooltip.dockerInstructionsEnvironment,
.Tooltip.codeFiles,
.Tooltip.codeBrowser,
.Tooltip.inputDataFiles,
.Tooltip.inputDataBrowser,
.Tooltip.outputDataFiles,
.Tooltip.outputDataBrowser{
  .Tooltip__toggle{
    top: -20px;
    right: -20px;
  }
  .Tooltip__pointer{
    top: -1px;
    right: -27px;
  }
  .Tooltip__message{
    top: 11px;
    right: -320px;
  }
}

.Tooltip.containerStatus{
  .Tooltip__toggle{
    top: -23px;
    right: -20px;
  }
  .Tooltip__pointer{
    top: -6px;
    right: -18px;
  }
  .Tooltip__message{
    top: 5px;
    right: -20px;
  }
}

.Tooltip.descriptionOverview{
  .Tooltip__toggle{
    top: -20px;
    right: -18px;
  }
  .Tooltip__pointer{
    top: 0px;
    right: -22px;
  }
  .Tooltip__message{
    top: 10px;
    right: -50px;
  }
}

.Tooltip.branchView{
  .Tooltip__toggle{
    right: 12px;
    bottom: 13px;
  }
  .Tooltip__pointer{
    right: 5px;
    bottom: -6px;
  }
  .Tooltip__message{
    top: 61px;
    right: -78px;
  }
}

.Tooltip.actionMenu{
  .Tooltip__toggle{
    top: 5px;
    right: -24px;
  }
  .Tooltip__pointer{
    top: 23px;
    right: -30px;
  }
  .Tooltip__message{
    top: 36px;
    right: -32px;
  }
}

.Tooltip.actionMenu.isSticky{
  .Tooltip__toggle{
    right: 21px;
  }
  .Tooltip__pointer{
    right: 15px;
  }
}

.Tooltip.userNote{
  z-index: 4;
  .Tooltip__toggle{
    top: 110px;
    left: 150px;
  }
  .Tooltip__pointer{
    top: 130px;
    left: 144px;
  }
  .Tooltip__message{
    top: 140px;
    left: 110px;
  }
}

.Tooltip.activitySubmenu{
  .Tooltip__toggle{
    top: calc(50% + 2px);
    left: 7px;
  }
  .Tooltip__pointer{
    top: calc(50% + 18px);
    left: 0;
  }
  .Tooltip__message{
    top: calc(50% + 27px);
    left: -7px;
  }
}

.Tooltip.activityCluster{
  .Tooltip__toggle{
    z-index: index($elements, popup);
    top: 6px;
    left: 583px;
  }
  .Tooltip__pointer{
    top: 24px;
    left: 576px;
  }
  .Tooltip__message{
    top: 38px;
    left: 446px;
  }
}

.Tooltip.labbookListing{
  .Tooltip__toggle{
    right: 20px;
    bottom: 60px;
  }
  .Tooltip__pointer{
    right: 14px;
    bottom: 38px;
  }
  .Tooltip__message{
    top: -38px;
    left: 10px;
  }
}

.Tooltip.datasetsTooltip{
  .Tooltip__toggle{
    right: 20px;
    bottom: 60px;
  }
  .Tooltip__pointer{
    right: 14px;
    bottom: 38px;
  }
  .Tooltip__message{
    bottom: -14px;
    left: 10px;
  }
}

.Tooltip.createLabbook,
.Tooltip.importLabbook{
  .Tooltip__toggle{
    right: -90px;
    bottom: 72px;
  }
  .Tooltip__pointer{
    right: -107px;
    bottom: 66px;

    @include triangle('left', 14px, $slateBlue);
  }
  .Tooltip__message{
    bottom: 52px;
    left: 103px;
  }
}

.Tooltip.cloudLocal{
  .Tooltip__toggle {
      top: 10px;
  }
  .Tooltip__pointer{
    top: 30px;
    left: -7px;
  }
  .Tooltip__message{
    top: 43px;
    left: -100px;
  }

}
