@import '~Styles/_imports.scss';

.User {
  position: relative;

  width: 100%;
  height: 280px;
  padding: 20px 0;

  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 9px);

  @include flex(flex-start, column);
}

.User__image {
  align-self: center;

  width: 60px;
  height: 60px;

  background: url('~Images/icons/user.svg') no-repeat 50% 50%;
  background-size: 100%;
}

.User__name {
  overflow: hidden;
  align-self: center;

  max-width: 105px;
  height: 30px;
  margin: 0 0 0 5px;
  padding: 5px 20px 5px 0;

  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: $white;
  border-right: solid 5px rgba(0, 0, 0, 0);
  background: url('~Images/icons/down-arrow-white.svg') no-repeat center right;
  background-size: 16px;

  font-size: 14px;
  line-height: 20px;

  &--long:hover:after {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 30px;

    min-width: 100px;
    margin: 0;
    padding: 5px;

    content: attr(data-tooltip);

    color: $white;
    border-radius: 5px;
    background: $primary;

    font-size: .7em;
    font-weight: 100;
    line-height: 1.3em;
  }

  &--active {
    background: url('~Images/icons/up-arrow-white.svg') no-repeat center right;
    background-size: 16px;
  }
}

.User__dropdown {
  width: 100px;
  margin: 0 auto;
  padding: 5px;

  border: 1px solid $white;
  border-radius: 8px;

  @include flex(space-between, column)
}


.User__button {
  align-self: center;

  margin: 5px 0;

  color: $white !important;

  text-decoration: none !important;

  &:hover {
    color: $white;
  }
}
