@import '~Styles/_imports.scss';

.SelectBase {
  height: calc(100% - 50px);
  color: $romanSilver;
  font-weight: 100;
}

.SelectBase__inner-container {
  min-height: 320px;
  height: 100%;
  position: relative;
  @include flex(flex-start, row);
  flex-wrap: nowrap;
  transition: right 0.5s;
  right: 0%;
  &--datasets {
    @include flex(flex-start, column);
  }
}

.SelectBase__inner-container--viewer {
    right: calc(100% + 160px);
}

.SelectBase__select-container {
  height: 100%;
  min-width: 100%;
  flex-wrap: nowrap;
  border-bottom: 1px solid $primary;
  margin-bottom: 15px;
  min-height: 330px;
}

.SelectBase__viewer-container {
  min-width: 100%;
  margin: 0 240px;
}

.SelectedBase__modal-header {
  color: $primary;
  text-align: center;
}
.SelectBase__images {
  background: $white;
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 100px;
}
.SelectBase__images--hidden {
  overflow: hidden;
}


.SelectBase__image-wrapper {
  width: 100%;
}

.SelectBase__selected-image-container {
  height: 120px;
}

.SelectBase__selected-image {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 200px;
  height: 120px;

  border: 1px dashed $grey;

  img,
  p {
    align-self: center;
    height: 50px;
  }
}

.Environment__modal {
  .SelectBase__inner-container {
    height: 500px;
  }
  .SelectBase__progress-button {
    visibility: hidden;
  }
}

.BaseSlide__wrapper{
  margin: 0 7px;
  position: relative;
  &--popular {
    &:before{
      content: 'POPULAR';
      font-size: 12px;
      padding: 2px 10px;
      background: $primary;
      color: $white;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}

.BaseSlide__wrapper--recent{
  border: 2px dashed $romanSilver;
  margin: 15px 1px 5px 1px;
  padding: 0 6px;
  position: relative;
  .SelectBase__image {
    margin: 7px 0;
  }
}

.BaseSlide__mostRecent{
  position: absolute;
  background: white;
  color: $primary;
  margin-left: 45%;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 900;
  top: -11px;
}
