@import '~Styles/_imports.scss';

.RecentActivity__title-container{
  align-items: center;
  color: $primaryText;
  @include flex(flex-start, row);
  a {
    color: $primary;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 40px;
  }
}

.RecentActivity__card {
  @include flex(flex-start, row);
  border-bottom: 10px solid $primary;
  min-height: 80x;
  max-height: 150px;
  padding: 0 10px;
  position: relative;
}

.RecentActivity__card-date {
  color: $primaryText;
  padding-bottom: 10px;
}

.RecentActivity__card-link {
  position: absolute;
  margin-top: 10px;
  right: 30px;
  color: $primaryText;
}

.RecentActivity__card-detail .ReactMarkdown * {
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: pre-line;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
  line-height: 23px;

  font-family: 'NunitoSans';
  font-weight: 100;
}

.ReactMarkdown,
.ReactMarkdown-long {
  h1 {
    img {
      width:max-content;
      margin: 2px;
    }
  }
}
.ReactMarkdown,
.ReactMarkdown-long {
  color: $romanSilver;
  h1 {
    padding: 10px 0;
    font-size: 2em;
    color: $primaryText;
    border-bottom: 1px solid $grey-light;
    font-weight: 400;
  }
  h4 {
    padding: 10px 0;
    font-size: 1.5em;
    color: $primaryText;
    border-bottom: 1px solid $grey-light;
    font-weight: 400;

  }
  h3 {
    font-size: 1.17em;
    color: $primaryText;
    font-weight: 400;

  }
  h4 {
    font-size: 1.12em;
    color: $primaryText;
    font-weight: 400;

  }
  h5 {
    font-size: .83em;
    font-weight: 400;
    color: $primaryText;
  }
  h6 {
    font-weight: 400;
    font-size: .75em;
    color: $primaryText;
  }
  blockquote {
    border-left: 5px solid $lightblue;
  }
  a {
    color: $primary;
  }
  a:hover {
    text-decoration: underline;
  }
  ul {
    padding-left: 40px;
    list-style-type: disc;
    li {
      list-style-type: disc;
    }
  }
}

.RecentActivity__fadeout {
  position: relative;
  bottom: 2em;
  height: 2em;
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
  );
}
.RecentActivity__card-detail .ReactMarkdown {
  max-height: 290px;
  overflow: hidden;
  margin: 0;
}

.RecentActivity__card-detail *{
  max-width: 100%;
  max-height: 100%;
}
.RecentActivity__card-detail * img{
  display: inline-block !important;
}

@keyframes fluxuateLoad {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }
}

.RecentActivity__card--loading{
  @extend .RecentActivity__card;
  opacity: 0.1;
  animation: fluxuateLoad 3s infinite;
}
.RecentActivity__time{
  font-size: 14px;
  margin-bottom: 0;
}
.RecentActivity__message{
  margin-top: 5px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: pre-line;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.RecentActivityCard__content{
  @include flex(space-between, row);
  padding: 10px;
  width: 100%;
  img {
    transition: all 0.25s;
    border: 1px solid $romanSilver;
    height: 120px;
    width: 120px;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
    &:hover ~ .RecentActivity__expand {
      opacity: 1;
      z-index: 1;
    }
  }
}

.RecentActivity__img-container {
  position: relative;
  div {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    pointer-events:none;
    cursor: pointer;
    &:hover {
      opacity: 1;
      z-index: 1;
    }
    &:hover ~ img {
      opacity: 0.4;
    }
  }
}

.RecentActivity__lightbox{
  width: 100%;
  height: 100%;
  background: $slateBlueOpaque;
  position: fixed;
  z-index: index($elements, modal);
}
