@import '~Styles/_imports.scss';

.Labbook {
  width: calc(100% - 30px);
  min-width: 820px;
  max-width: 1285px;
  height: auto;
  min-height: calc(100% - 230px);
  margin-bottom: 100px;

  transition: width 0.25s;

  &--detail-mode{
    width: calc(100% - 350px);
  }

  &--branch-mode{
    .Labbook__veil{
      z-index: index($elements, veil);

      display: block;

      opacity: 0.5;
    }

    .Labbook__navigation-container {
      margin-top: 450px;
    }

    .Labbook__view{
      margin-top: 50px;
    }
  }

  &--demo-mode{
    margin-top: 70px;
  }
  &--deprecated{
    margin-top: 70px;
  }
  &--demo-deprecated{
    margin-top: 120px;
  }
}

.Labbook__spacer {
  width: calc(100% - 20px);
  height: auto;
  min-height: 100%;
  margin: 10px 5px 20px 20px;
}

.Labbook__routes {
  overflow: visible;

  height: 100%;
  padding: 164px 0 20px;
}

.Labbook__veil{
  position: fixed;
  z-index: -1;
  top: 450px;

  width: 100%;
  height: calc(100% - 450px);

  transition: 0.25s opacity;

  opacity: 0;
  background: $primaryText;

}

@media screen and (max-width: 50000px) and (min-width: 1480px) {
  .Labbook__spacer{
    margin: 20px 35px;
  }
}

.Labbook__cover{
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  background: $slateBlueOpaque;
  z-index: index($elements, modalCover);
}

.Labbook__deprecated{
  position: fixed;
  color: $white;
  height: 50px;
  width: 100%;
  padding: 13px 0 13px 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  background: $orange no-repeat center center;
  white-space: nowrap;
  top: 10px;
  left: 140px;
  text-align: left;
  background-size: cover;
  z-index: index($elements, loader);
  border-top: 1px solid $white;
  @include flex(flex-startm, row);
  a,
  a:visited{
    margin: 0 10px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
  &--demo {
    top: 60px;
  }
}

.Labbook__deprecated-action{
  background: transparent;
  border: 2px solid $white;
  margin-left: 25px;
  &:hover, &:focus {
    background: $white;
    color: $orange;
    border: 2px solid $orange;
  }

  &:disabled:hover, &:focus {
    background: $grey-background;
    color: $romanSilver;
    border: 2px solid $romanSilver;
  }
}

.Labbook__migration-p{
  text-align: center;
  font-size: 18px;
}

.Labbook__migration-modal{
  a {
    margin-left: 5px;
  }
}

.Labbook__migration-buttons {
  align-self: center;
}

.Labbook__migration-content{
  height: 480px;
  margin-bottom: 10px;
  overflow: auto;
}

.Labbook__migration-container{
  @include flex(flex-start, column);
}

.Labbook__migration-center {
  @include flex(space-around, column);
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 540px;
  margin-top: 50px;
  height: 200px;
  margin-bottom: 40px;
}
.Labbook__migration-buttons,
.Labbook__migration--dismiss {
  text-align: center
}


.Labbook__migration-content{
  li {
    display:list-item;
    margin: auto;
    margin-left: 50px;
  }
}
