@import '~Styles/_imports.scss';


.UserNote__container {
  z-index: index($elements, card);

  &:before {
    position: absolute;
    z-index: index($elements, card) - 2;
    top: 0px;
    left: 40px;

    display: block;

    width: 1px;
    height: 100px;

    content: "";
    transition: height 0.125s;

    border: 4px solid $romanSilver;
    border-width: 0 0 0 4px;
  }
  &:after {
    position: absolute;
    z-index: index($elements, card) - 2;
    top: calc(100% - 20px);
    left: 40px;

    display: block;

    width: 1px;
    height: 20px;

    content: "";
    transition: height 0.125s;

    border: 4px solid $romanSilver;
    border-width: 0 0 0 4px;
  }
}

.UserNote__button{
  background: $primary url('~Images/icons/note-white.svg') no-repeat 14px center;
  background-size: 16px;
}

.UserNote__container.fullscreen {
  position: fixed;
  z-index: index($elements, modal);
}

.UserNote__add {
   margin: 10px 0 0 0;
}

.UserNote__card {
  position: relative;
  z-index: index($elements, card);

  min-height: 80px;
  padding: 20px;

  transition: all 0.125s;

  color: $romanSilver;
  border-bottom: 10px solid $primary;
  background: white;

  @include flex(flex-start, row)

  &--collapsed {
    height: 80px;
  }

  &--faded {
    filter: grayscale(100%);
  }
}
