button {
  width: 162px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0 12.5px;
  outline: none;
  cursor: pointer;

  color: $white;
  border: 0;
  border-radius: 4px;
  background: $primary;

  font-weight: 400;
  line-height: 1rem;

  &:hover {
    @include boxShadowDark();
  }

  &:disabled,
  &:hover:disabled {
    overflow: hidden;
    border: 0;
    background-color: $romanSilver;
    box-shadow: none !important;
  }
}

.BtnContainer {

  width: 100%;
  align-items: center;
  padding: 30px 0 10px;
  @include flex(flex-end, row);
}

.Btn {
   background-color: $primary;
   border: 0px;
   border-radius: 4px;
   margin: 0 12.5px;
   text-align: center;
   cursor: pointer;

   &:hover {
    @include boxShadowDark();
  }
  &--allStyling {
    width: 162px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0 12.5px;
    outline: none;

    color: $white;
    border: 0;

    font-weight: 400;
    line-height: 1rem;
  }
  &--noStyle{
    width: auto;
    background: transparent;
    color: $primaryText;
    box-shadow: none !important;
    margin: 0px;
    padding: 0px;
  }
  &--inverted {
    background: transparent;
    color: $primary;
    border: 1px solid $primary;
    &:disabled {
      background: transparent !important;
      color: $romanSilver;
      border: 1px solid $romanSilver;
    }
    &--white {
      color: $white;
      border: 1px solid $white;
      &:disabled{
        color: $white;
        border: 1px solid $white;
      }
    }
  }
  // flat button
  &--flat {
      width: auto;
      padding: 0px;
      font-size: 15px;

      cursor: pointer;
      text-decoration: underline;

      color: $primary;
      border: 0;
      border-radius: 0px;
      background: none;
      box-shadow: none !important;
      background: linear-gradient( to bottom, $primary 0%, $primary 100% );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 2px 1px;
      text-decoration: none;
      transition: background-size .2s;
      &:hover {
        background-size: 2px 2px;
      }

      &:disabled{
        text-decoration: none;

        color: $romanSilver;
        border: 0px solid $grey;
        background: transparent !important;
        text-shadow: none;
      }
  }

  // flat button
  &--flat-icon {
      width: auto;
      font-size: 0px;

      cursor: pointer;
      text-decoration: underline;

      color: $primary;
      border: 0;
      border-radius: 0px;
      background: none;
      box-shadow: none !important;
      text-decoration: none;
      transition: background-size .2s;

      &:disabled{
        text-decoration: none;

        color: $romanSilver;
        border: 0px solid $grey;
        background: transparent !important;
        text-shadow: none;
      }
  }

  // feature or actions buttons
  &--feature {
   position: absolute;
   z-index: 1;

   width: 30px;
   height: 30px;
   padding: 0;

   transition: all 0.25s ease, background-position 0ms, font-size 0ms;

   border: 2px solid $white;
   border-radius: 30px;

   font-size: 0;

   &:hover, &:focus, &--expanded {
     width: auto;
     padding: 0 40px 0 15px;

     font-size: 14px;
   }
   &--expanded--paddingLeft,
   &--expanded--paddingLeft:hover,
   &--expanded--paddingLeft:focus {
      width: auto;
      padding: 0 15px 0 40px;

      font-size: 14px;
   }
   &:disabled, &:disabled:hover, &:disabled:focus {
     width: 30px;
     padding: 0;

     background-size: 30px;

     font-size: 0;
   }
   &--noPadding {
     padding: 0 15px !important;
   }
  }

  &--noShadow {
    box-shadow: none !important;
  }

  &--smallMargin {
    margin: 0 2px;
  }
  &--margin-right{
    margin: 0 12.5px 0 0;
  }

  &--action{
    width: auto;
  }

  &--round {
     border-radius: 15px;
  }
  &--bordered {
    border: 1px solid $primary;
    &:disabled{
      border: 1px solid $romanSilver;
    }
  }


  &--wide {
    width: 210px;
  }

  &--small {
    width: 20px;
    height: 20px;
    background-size: 10px !important;
  }

  &--medium {
    width: 30px;
    height: 30px;
  }

  &--width-80 {
    width: 80px;
  }

  &--fileBrowser {
    width: 25px;
    height: 25px;
    background-size: 18px !important;
    background-color: $lightGrey !important;
  }

  &--background-left {
    background-position-x: 3px !important;
  }

  &--no-underline {
    text-decoration: none;
  }

  &--fake {
    cursor: auto;
    background-color: $primary;
    border-radius: 4px;
    color: $white;
    display: inline-block;
    width: 85.7px;
    height: 22.4px;
    pointer-events: none;
    font-size: 15px;
    margin: 0 5px;
    position: relative;
    bottom: 4px;
    padding-left: 8px;
  }

  &--fake-content {
    @include flex(center, row);

    .Icon--add {
      width: 20px;
      height: 20px;
      background-size: 11px;
      background-position-y: 6px;
    }
  }

  &--columns {
    @include flex(space-around, column);
    align-items: flex-start;
    line-height: 14px;
    padding: 6px 40px 6px 20px;
  }

  &--label {
    font-size: 12px;
  }

  &--text {
    font-size: 16px;
  }

  &--last {
    margin-right: 0px;
  }

  &--first {
    margin-left: 0px;
  }

  &--noPadding{
    padding: 0px;
    &:hover,
    &:focus,
    &:disabled{
      padding: 0px;
    }
  }

  &--padding-left{
    padding-left: 25px;
  }

  &--noMargin{
    margin: 0px;

    &:hover,
    &:focus,
    &:disabled{
      margin: 0px;
    }
  }


  /**********************************
   * feature buttons
   *
   *
   *********************************/
  &__expandadble {
    margin: 0;
    border-radius: 0;
    width: 200px;
    height: 25px;
    background: transparent;
    box-shadow: none;

    &:hover {
      box-shadow: none;
      &:before {
        text-decoration: underline;
      }
    }
    &--collapse {
      background: url('~Images/icons/up-arrow-azure.svg') no-repeat  calc(50% + 50px) 5px;
      background-size: 20px;

      &:before {
        color: $primary;
        line-height: 16px;
        content: "Collapse";
      }
    }
    &--expand {
      background: url('~Images/icons/down-arrow-azure.svg') no-repeat calc(50% + 50px) 5px;
      background-size: 20px;

      &:before {
        color: $primary;
        line-height: 16px;
        content: "Expand";
      }
    }
  }


  /**********************************
   * feature buttons
   *
   *
   *********************************/
  &__loadMore{
    margin: 0;
    border-radius: 0;
    width: 250px;
    background: $primary;
    height: 30px;
    box-shadow: none;

    &:hover {
      box-shadow: none;
      &:before {
        text-decoration: underline;
      }
    }
    &--up {
      background: $primary url('~Images/icons/up-arrow-white.svg') no-repeat  calc(50% + 50px) 5px;
      background-size: 20px;

      &:before {
        color: $white;
        line-height: 16px;
        content: "Previous";
      }
    }
    &--down {
      background: $primary url('~Images/icons/down-arrow-white.svg') no-repeat calc(50% + 50px) 5px;
      background-size: 20px;

      &:before {
        color: $white;
        line-height: 16px;
        content: "Next";
      }
    }
  }

  &__delete {
     background: url(~Images/icons/trash-azure.svg) no-repeat center center;
     background-size: 18px;

     &:focus {
       background: $primary url(~Images/icons/trash-white.svg) no-repeat center center;
       background-size: 18px;

     }

     &:hover {
       background: $primary url(~Images/icons/trash-white.svg) no-repeat center center;
       background-size: 18px;

     }

     &:disabled {
       background: transparent url(~Images/icons/trash.svg) no-repeat center center !important;
       background-size: 18px;
     }
  }

  &__delete-secondary {
    background: $background-color url(~Images/icons/trash-azure.svg) no-repeat center center;
    background-size: 20px;

    &:disabled {
      background: $background-color url(~Images/icons/trash.svg) no-repeat center center !important;
      background-size: 20px !important;
    }
    &--medium {
      background-size: 20px !important;
      &:disabled {
        background-size: 20px !important;
      }
    }
  }

  &__delete-white {
    background: url(~Images/icons/trash-white.svg) no-repeat center center;
    background-size: 16px;
  }

  &__rename {
    background: url(~Images/icons/rename-azure.svg) no-repeat center center;
    background-size: 21px !important;

    &:focus {
      background: $primary url(~Images/icons/rename-azure.svg) no-repeat center center;
      background-size: 21px !important;

    }

    &:hover {
      background: $primary url(~Images/icons/rename-azure.svg) no-repeat center center;
      background-size: 21px !important;

    }

    &:disabled {
      background: transparent url(~Images/icons/rename.svg) no-repeat center center !important;
      background-size: 21px !important;

    }
 }

 &__addFolder {
  background: url(~Images/icons/new-folder-active.svg) no-repeat center center;
  background-size: 28px !important;

  &:focus {
    background: $primary url(~Images/icons/new-folder-active.svg) no-repeat center center;
    background-size: 28px !important;

  }

    &:hover {
      background: $primary url(~Images/icons/new-folder-active.svg) no-repeat center center;
      background-size: 28px !important;
   }

   &:disabled {
     background: transparent url(~Images/icons/folder-add-new-silver.svg) no-repeat left 1px top -1px !important;
     background-size: 24px !important;
   }
 }

 &__add {
   background: $primary url(~Images/icons/add-white.svg) no-repeat calc(100% - 50px) center;
   background-size: 12px;
   padding: 7px 20px 7px 10px;
 }

 &__check {
   background: url(~Images/icons/check-selected.svg) no-repeat center center;
   background-size: 30px !important;

   &:focus {
     background: url(~Images/icons/check-selected.svg) no-repeat center center;
     border: 0px;
     background-size: 30px !important;
   }

   &:hover {
     background: url(~Images/icons/check-selected.svg) no-repeat center center;
     border: 0px;
     background-size: 30px !important
    }
    &--grey {
      background: url('~Images/icons/status-verified.svg') no-repeat center center;
      background-size: 20px !important;
      &:disabled {
        background: url('~Images/icons/status-check-disabled.svg') no-repeat center center;
        background-size: 20px !important;
      }
    }
 }

 &__addDataset {
  background: url(~Images/icons/database-add-azure.svg) no-repeat center center;
  background-size: 18px;

  &:focus {
    background: $primary url(~Images/icons/database-add-hover.svg) no-repeat center center;
    background-size: 18px;

  }

  &:hover {
    background: $primary url(~Images/icons/database-add-hover.svg) no-repeat center center;
    background-size: 18px;
  }

  &:disabled {
    background: transparent url(~Images/icons/database-add.svg) no-repeat center center !important;
    background-size: 18px;

  }
 }


 &__upArrow {
  background: url(~Images/icons/update-azure.svg) no-repeat center center;
  background-size: 18px;

  &:focus {
    background: $primary url(~Images/icons/update-white.svg) no-repeat center center;
    background-size: 18px;

  }

  &:hover {
    background: $primary url(~Images/icons/update-white.svg) no-repeat center center;
    background-size: 18px;

  }

  &:disabled {
    background: transparent url(~Images/icons/update-version.svg) no-repeat center center !important;
    background-size: 18px;

  }
 }

 &__upArrow-secondary {
  background: $background-color url(~Images/icons/update-azure.svg) no-repeat center center;
  background-size: 24px;

  &:disabled {
    background: $background-color url(~Images/icons/update-version.svg) no-repeat center center !important;
    background-size: 24px !important;

  }
 }

 &__upArrow-white {
  background: url(~Images/icons/update-white.svg) no-repeat center center;
  background-size: 22px;
 }
 &__download-white {
  background: url(~Images/icons/download-arrow-white.svg) no-repeat center center;
  background-size: 22px;
 }

 &__Favorite-off {
  background: url(~Images/icons/star__off-azure.svg) no-repeat center top 2px;
  background-size: 18px;

  &:focus {
    background: $primary url(~Images/icons/star__off-white.svg) no-repeat center top 2px;
    background-size: 18px;
  }

  &:hover {
    background: $primary url(~Images/icons/star__off-white.svg) no-repeat center top 2px;
    background-size: 18px;
  }

  &:disabled {
    background: url(~Images/icons/star__off.svg) no-repeat center top 2px;
    background-size: 18px;
  }
}

&__Favorite-on {
  background: url(~Images/icons/star__on.svg) no-repeat center top 2px;
  background-size: 18px;

  &:focus {
    background: $primary url(~Images/icons/star__on.svg) no-repeat center top 2px;
    background-size: 18px;
  }

  &:hover {
    background: $primary url(~Images/icons/star__on.svg) no-repeat center top 2px;
    background-size: 18px;
  }

  &:disabled {
    background: url(~Images/icons/star__on.svg) no-repeat center top 2px;
    background-size: 18px;
  }
}

  &__download {
    background: url('~Images/icons/database-download-azure.svg') no-repeat 50% 50%;
    background-size: 20px;
    margin-right: 5px;

    &:hover {
        //change color here
        background: url('~Images/icons/database-download-azure.svg') no-repeat 50% 50%;
        background-size: 22px;
    }
  }

  &__downloaded {
    cursor: auto !important;
    box-shadow: none !important;
    background: url('~Images/icons/database-grey-local.svg') no-repeat 50% 50%;
    background-size: 20px;
    margin-right: 5px;
  }

  &__redirect {
     background: $primary url('~Images/icons/continue-arrow.svg') no-repeat -1px center;
     background-size: 30px;
     &:hover, &:focus {
       background-position: right 1px center;
       background-size: 30px;
     }
     &--featurePosition {
      right: 15px;
      top: -20px;
     }
  }

  &__edit {
     background: $primary url('~Images/icons/edit.svg') no-repeat center center;
     background-size: 18px;
     &:hover, &:focus {
       background: $primary url('~Images/icons/edit.svg') no-repeat right 7px center;
       background-size: 18px;
     }
     &--featurePosition {
      top: -20px;
      right: 15px;
     }
     &--DescriptionPosition {
      right: 0;
      top: 0;
     }
  }
  &__edit-secondary {
    background: $background-color url(~Images/icons/edit-azure.svg) no-repeat center center;
    background-size: 22px;

    &:disabled {
      background: $background-color url(~Images/icons/edit-disabled.svg) no-repeat center center !important;
      background-size: 22px !important;
    }
    &--medium {
      background-size: 20px !important;
      &:disabled {
        background-size: 20px !important;
      }
    }
  }
  &__info {
    background: url(~Images/icons/info-exclamation-azure.svg) no-repeat center top 2px;
    background-size: 24px;

    &:focus {
      background: $primary url(~Images/icons/info-exclamation.svg) no-repeat center top 2px;
      background-size: 24px;
    }

    &:hover {
      background: $primary url(~Images/icons/info-exclamation.svg) no-repeat center top 2px;
      background-size: 24px;
    }

    &:disabled {
      background: url(~Images/icons/info-exclamation.svg) no-repeat center top 2px;
      background-size: 24px;
    }
 }

  &__toggle {
      flex: 0 1 30px;

      width: 24px;
      height: 24px;

      cursor: pointer;

      background: url('~Images/icons/down-arrow-white.svg') no-repeat center center;
      background-size: 18px;

      &:hover{
        box-shadow: none;
      }

      &--open {
          background: url('~Images/icons/up-arrow-white.svg') no-repeat center center;
          background-size: 18px;
      }
  }


  &__close {
    background: url(~Images/icons/close.svg) no-repeat center center;
    background-size: 30px;
    border: 0px;
    box-shadow: none !important;

    &:focus {
      background: url(~Images/icons/close.svg) no-repeat center center;
      background-size: 30px;
      border: 0px;
    }

    &:hover {
      background: url(~Images/icons/close.svg) no-repeat center center;
      background-size: 34px;
      border: 0px;
    }
    &--grey {
      background: url('~Images/icons/status-x.svg') no-repeat center center;
      background-size: 20px !important;
    }
  }

  &__remove {
    background: $primary url('~Images/icons/close-white.svg') no-repeat center center;
    background-size: 20px;

    &:disabled {
      background-image: url('~Images/icons/close-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px;
    }
  }

  &__subtract {
    background: url(~Images/icons/form/checkbox/checkbox-minus.svg) no-repeat left -1px center;
    background-size: 22px !important;
    &:focus {
      background: url(~Images/icons/form/checkbox/checkbox-minus.svg) no-repeat center center;
      background-size: 22px !important;
      border: 0px;
    }

    &:hover {
      background: url(~Images/icons/form/checkbox/checkbox-minus.svg) no-repeat center center;
      background-size: 22px !important;
      border: 0px;
    }
  }
  &__warning {
    background: $goldenLemon url(~Images/icons/notifications/info-exclamation.svg) no-repeat center center;
    background-size: 20px !important;
  }

  &__expandable-close {
   transition: all 0.25s ease, background-position 1ms;
   width: 30px;
   height: 30px;
   border-radius: 30px;
   position: absolute;
   right: 15px;
   top: -20px;
   padding: 0;
   background: $primary url('~Images/icons/close-white.svg') no-repeat center center;
   background-size: 15px;
   border: none;
   z-index: 1;

   span {
     display: none;
   }

   &:hover,
   &:focus {
     border: none;
     width: auto;
     padding: 0 40px 0 15px;
     background: $primary url('~Images/icons/close-white.svg') no-repeat right 10px center;
     background-size: 15px;

     span {
       display: block;
     }
   }
  }

  &__overview {
    top: -7px;
  }

  &__plus {
    background: $primary url('~Images/icons/add-white.svg') no-repeat center center;
    background-size: 20px !important;
    &:disabled {
      background-image: url('~Images/icons/add-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px !important;
    }
    &--featurePosition {
      background: $primary url('~Images/icons/add-white.svg') no-repeat left 15px center;
      background-size: 13px !important;
      top: -20px;
      right: 15px;
     }
  }

  &__dropdown {
    width: 20px;
    height: 20px;
  }

}
