.Tooltip-data {
    &:disabled {
      overflow: initial !important;
    }
    position: relative;

    cursor: pointer;
    &--visible:before,
    &:hover::before{
      position: absolute;
      top: calc(100% - 0px);
      left: calc(50% - 5px);

      content: "";

      border-width: 10px;

      @include triangle('up', 7px, $slateBlue);
    }
    &--small {
        &:hover::after{
            padding: 5px !important;
            width: auto !important;
            min-width: 0 !important;
            white-space: nowrap;
            left: 50% !important;
            transform: translate(-50%, 0);
        }
    }
    &--auto {
      &:hover::after{
        text-align: center;
        width: auto;
      }
    }
    &--visible::after,
    &:hover::after{
      text-transform: capitalize;
      z-index: index($elements, popup);
      font-family: 'NunitoSans';
      position: absolute;
      top: calc(100% + 7px);
      left: calc(50% - 70px);

      width: 140px;
      min-width: 100px;
      margin: 0;
      padding: 10px;

      content: attr(data-tooltip);
      word-wrap: normal;
      word-break: normal;
      white-space: normal;
      line-height: 18px;

      color: $white;
      background: $slateBlue;

      font-size: 14px !important;
      font-weight: 100 !important;

      @extend .box-shadow;
    }

    &--right:hover::before {
      top: calc(50% - 7px);
      left: calc(100% + 2px);

      @include triangle('left', 7px, $slateBlue);
    }


    &--right:hover::after {
      top: calc(50% - 10px);
      left: calc(100% + 16px);
    }

    &--left:hover::before {
      top: calc(50% - 7px);
      left: -8px;

      @include triangle('right', 7px, $slateBlue);
    }


    &--left:hover::after {
      top: calc(50% - 15px);
      left: -168px;
    }

    &--top-offset:hover::before {
      top: calc(100% + 7px);
      left: calc(50% - 70px);

      @include triangle('top', 7px, $slateBlue);
    }


    &--top-offset:hover::after {
      top: calc(100% + 7px);
      left: calc(50% - 110px);
    }



    &--info {
        width: 15px;
        height: 15px;
        background: url('~Images/icons/info-icon.svg') no-repeat center center;
        background-size: 15px;
        position: absolute;
        right: 10px;
        top: calc(50% - 7px);
        cursor: pointer;
    }

    &--visible::after,
    &--visible:hover::after {
      width: 140px !important;
      padding: 5px !important;
      left: 50% !important;
      transform: translate(-50%, 0)
    }
  }

.InfoTooltip {
  &:before {
    content: '';
    @include triangle('up', 8px, $slateBlue);
    position: absolute;
    right: 100px;
    top: -8px;
  }
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.30);
  user-select: none;
  @include animation('slide-down-fade-in forwards .25s');
  position: absolute;
  font-size: 14px;
  background: $slateBlue;
  color: white;
  padding: 15px;
  width: 250px;
  top: 25px;
  right: -100px;
  word-break: break-word;
  z-index: index($elements, popup);
  text-align: left;

  a {
    text-decoration: none;
    color: $secondary;
    &:hover {
      text-decoration: underline;
    }
  }
  &.summary {
    &:before {
      right: 9px;
    }
    right: -10px;
  }
  &.apt {
    top: 42px;
    right: 87px;
  }
}



.__react_component_tooltip {
  display: none;
  &.show {
    word-break: break-word;
    display: block;
    max-width: 300px;
    @include boxShadow();
  }
}
