@import '~Styles/_imports.scss';


.Card--text{
  text-decoration: none;

  color: $primaryText;

  &:hover{
    text-decoration: none;

    color: $primaryText;
  }
}

.LocalDatasets__row{

  &--icons{
    margin: -10px 0;
    font-size: 15px;
    border-bottom: 1px solid $grey-border;
    @include flex(space-between, row);
    height: 40px;
    width: calc(100% + 20px);
    align-items: center;

  }

  &--text {
    flex: 1;

    height: 100px;
    padding: 10px 20px;

    text-align: left;
  }
}

.LocalDatasets__dataset-icon {
  width: 20px;
  height: 20px;
  background: url('~Images/icons/datasets-azure.svg') no-repeat 50%;
  background-size: 20px;
  margin-right: 28px;
}

.LocalDatasets__paragraph{
  font-size: 14px;
  margin-top: 5px;
  &--owner{
    color: $primaryText;
    font-size: 15px;
    margin: 2px 0 10px 0;
  }

  &--metadata{
    color: $primaryText;
    font-size: 10px;
    line-height: 1.5;
    margin: 0;
  }

  &--description{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;

    max-height: 60px;

    white-space: pre-line;
    text-overflow: ellipsis;
    word-break: initial;

    line-height: 20px;

    -webkit-line-clamp: 3;
    box-orient: vertical;
  }
}

.LocalDatasets__highlighted{
  color: $white;
  background: $primary;
}

.LocalDatasetPanel__private{
  align-self: center;

  width: 30px;
  height: 24px;

  background: $lightGrey url(~Images/icons/lock-grey.svg) no-repeat center center;
  background-size: 11px;
  left: 28px;
  border-radius: 25px;
}

.LocalDatasetPanel__public{
  align-self: center;

  width: 30px;
  height: 24px;

  background: $lightGrey url(~Images/icons/earth-grey.svg) no-repeat center center;
  background-size: 14px;
  left: 28px;
  border-radius: 25px;
}

.LocalDatasetPanel__loading{
  align-self: center;

  width: 18px;
  height: 18px;
  margin: 8px;
  padding: 14px;
  left: 28px;
  opacity: 0.5;
  border-radius: 50%;
  background: $grey !important;
}

/****************************
* Container Status
*****************************/

.LocalDatasets__containerStatus {
  width: 100%;

  color: white;

  font-weight: 100;

  @include flex(flex-end, row);
}

.LocalDatasets__containerStatus--state {
  z-index: index($elements, button);

  width: 141px;
  height: 31px;
  padding: 0 10px 0 0;

  cursor: pointer;
  transition: height 0.5s, width 0.5s, box-shadow 0.5s;
  text-align: center;

  color: $romanSilver !important;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 20px;
  background-color: transparent !important;

  font-size: 16px;
  line-height: 26px;

  &:hover,
   :focus{
    color: $romanSilver;
  }

  &.loading,
   .loading:hover,
   .loading:focus{
     opacity: 0.5;
     background: $grey !important;
   }

   &.Stopped{
     transition: box-shadow 0.5s;

     border: 3px solid $romanSilver;
     background: $background-color url('~Images/icons/stop.svg') no-repeat 90% center;
     background-size: 20px;

     @include boxShadow();
   }

   &.Stopped:hover{
     border: 3px solid $secondary;
     background: $background-color url('~Images/icons/run.svg') no-repeat 90% center;
     background-size: 20px;
     box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);
   }

   .Running{
     transition: box-shadow 0.5s;

     border: 3px solid $secondary;
     background: $background-color url('~Images/icons/run.svg') no-repeat 90% center;
     background-size: 20px;
   }

   &.Running:hover{
     border: 3px solid $romanSilver;
     background: $background-color url('~Images/icons/stop.svg') no-repeat 90% center;
     background-size: 20px;
     box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);
   }

   &.Building,
    .Stopping,
    .Starting{
      cursor: auto;

      opacity: 0.75;
      color: $primaryText !important;
      border: 3px solid $goldenLemon;
      background: none;
   }

   &.Rebuild{
     padding: 0 15px 0 0;

     cursor: pointer;

     border: 3px solid $goldenLemon;
     background: $background-color url('~Images/icons/button-build.svg') no-repeat 85% center;
     background-size: 20px;
   }
}

.LocalDatasets__description--blank{
  font-style: italic;
}

.LocalDatasets__panel-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  width: 250px;
  font-size: 19px;
  color: $primary;
  margin: 10px 0 0 0;
}
